//evinced.jfrog.io/artifactory/api/npm/restricted-npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJkeG85UFI2bGE3dEJpUFlRSGVUaGYtb2Fxc3k5blRkNTFEZzctY0VtdnRnIn0.eyJzdWIiOiJqZnJ0QDAxZjdrcDAyeTViZ3B0MDF3eHl5dDQxYWRkL3VzZXJzL2FzYWZfc2hvY2hldCIsInNjcCI6ImFwcGxpZWQtcGVybWlzc2lvbnMvdXNlciIsImF1ZCI6ImpmcnRAMDFmN2twMDJ5NWJncHQwMXd4eXl0NDFhZGQiLCJpc3MiOiJqZnJ0QDAxZjdrcDAyeTViZ3B0MDF3eHl5dDQxYWRkL3VzZXJzL19zeXN0ZW1fIiwiZXhwIjoxNzc0Mzg3MjU4LCJpYXQiOjE3NzE3OTUyNTgsImp0aSI6IjMyOGI1ZGVmLWI3NzYtNDQ5YS1iMzhmLTRmNDhkZGIxYmM5YiIsInRpZCI6ImEwa3loZTFtczh3ZDUifQ.jyFLJnNNKuV-BNlnN1nIDskVofprbbNzn_T8s6yDJqsZLDsJYpoxK2etAPeGlSPq3zCQ1PmNDG25CczdXUALAUZT8wbM7hrnAyCZVrpdZ0sZ0MX_lZxTIRRY_Yr9zjMPzEG3gKgQYwxhi8ENM4IHI-I3Slou1SyLKvc1SENz4yF-DaG-6oBC4BvVGB-9Edl-6joL2C12zSDdakgKvFthNZXqcl7c0CN-HX6rS--e-pcSAJf3KZcdhhBqDKreBQ3pfTu6olXE9phYHaz_bYnJZLE1zZJxQci6-7DJQ8iNLTEsxpC1CTvzKV9WoJ6Ro_mEN-jEXJ-gZTPWNs9eLi6sFQ
@evinced:registry=https://evinced.jfrog.io/artifactory/api/npm/restricted-npm/
//evinced.jfrog.io/artifactory/api/npm/private-npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJkeG85UFI2bGE3dEJpUFlRSGVUaGYtb2Fxc3k5blRkNTFEZzctY0VtdnRnIn0.eyJzdWIiOiJqZnJ0QDAxZjdrcDAyeTViZ3B0MDF3eHl5dDQxYWRkL3VzZXJzL2FzYWZfc2hvY2hldCIsInNjcCI6ImFwcGxpZWQtcGVybWlzc2lvbnMvdXNlciIsImF1ZCI6ImpmcnRAMDFmN2twMDJ5NWJncHQwMXd4eXl0NDFhZGQiLCJpc3MiOiJqZnJ0QDAxZjdrcDAyeTViZ3B0MDF3eHl5dDQxYWRkL3VzZXJzL19zeXN0ZW1fIiwiZXhwIjoxNzc0Mzg3MjY5LCJpYXQiOjE3NzE3OTUyNjksImp0aSI6IjQ5OTQ5NTljLTAxOWUtNDAzMi1iMGQ2LTdhNWRiOWE4NjEzMyIsInRpZCI6ImEwa3loZTFtczh3ZDUifQ.nC04dwOCz2bA7ZXv13Yxw2sV7YDZxcCLDY8rBQ73SO6box239R_rhlrbyZYtgTj4We2a4F4HpVClo4J9xKMqTnv0J_Tk-Snv38_ceeuw_uPPK5Wz6MrbM_UkOiKeibxu82yv7Pf5ZgMeBPwqqSD0MjvhKmBvvyFKydy_GGjxpH7I9mB8Rh9-369N_64JB5GFYOmURx5Sid8oV62fZTgNCSzLoh0sfAMXlw7Mj0S5w_vjfIaXRa4AQUAUSbMVE4g46xidHTqDkN3uLJAo4I0n6eVf4-cS9DRaomgNhDVaF4dJJZFTxc6I11xVjXCZpQTHnV7K8qCLot4-2EHQAsbrpA
@evinced-private:registry=https://evinced.jfrog.io/artifactory/api/npm/private-npm/
